<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/demo.css">
    <!-- El siguiente script lo uso para los iconos en la web -->
    <script src="https://kit.fontawesome.com/f5b00fae21.js" crossorigin="anonymous"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/efects.js"></script>
    <script src="/js/form.js"></script>
    <script src="/js/move.js"></script>
    <script src="/js/code.js"></script>
    
</head>
<body>
    <div class="nav-bar">
        <i class="fas fa-user fa-3x" id="user"></i>
        <i class="fas fa-plus fa-3x" id="add"></i>
        <i class="fas fa-filter fa-3x"></i>
        <i class="fas fa-info fa-3x" id="info"></i>
        <i class="fas fa-power-off fa-3x"></i>
    </div>
    <div class="user-container">
        <h2>Developer</h2><br>
        <i class="fas fa-user-circle fa-8x"></i><br>
        <div class="user-info">
            <ul>
                <li>Estatus: Aviable</li>
                <li>Email: aasf@gmail.com</li>
                <li>Bugs Reported: 20</li>
                <li>Bugs Done: 10</li>
            </ul>
        </div><br>
        <i class="fas fa-sign-out-alt fa-2x" id="exit-user"></i>
    </div>

    <div class="add-container">
        <form action="#">
            <h2>Añadir un bug</h2>
            <label for="description">Descripcion:</label><br>
            <input type="text" id="description" name="description"><br>
            <label for="description">Prioridad:</label><br>
            <select id="priorities">
                <option value="1">Baja</option>
                <option value="2">Media</option>
                <option value="3">Alta</option>
            </select>
            <button id="submit">Submit</button>
        </form>
        <br>
        <i class="fas fa-sign-out-alt fa-2x" id="exit-add"></i>
    </div>

    <div class="info-container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis deleniti adipisci sequi pariatur nesciunt eos fugiat, molestiae deserunt accusamus minima et quidem suscipit aliquid. Dolorum doloribus ad odit autem veniam unde natus distinctio modi quasi quos voluptas omnis beatae eveniet quod quibusdam ipsa optio hic dolore, vitae delectus, mollitia repudiandae?</p>
        <br>
        <i class="fas fa-sign-out-alt fa-2x" id="exit-info"></i>
    </div>
    <div class="container">
        <div class="headers">
            <div class="head">Sin asignar</div>
            <div class="head">En proceso</div>
            <div class="head">En pruebas</div>
            <div class="head">Acabados</div>
        </div>
        <div class="bug-manager">
            <div class="bug-container" id="notAssigned">
            {% if bugsSinAsignar %}
                {% for bug in bugsSinAsignar %}
                    {{ include ('page/bug.html.twig', {'bug': bug}) }}
                {% endfor %}
            {% else %}
                <p>No hay bugs sin asignar</p>
            {% endif %}
            </div>

            <div class="bug-container" id="droppable">
            {% if bugsEnProceso %}
                {% for bug in bugsEnProceso %}
                    {{ include ('page/bug.html.twig', {'bug': bug}) }}
                {% endfor %}
            {% else %}
                <p>No hay bugs en Proceso</p>
            {% endif %}
            </div>

            <div class="bug-container">
               {% if bugsEnPruebas %}
                {% for bug in bugsEnPruebas %}
                    {{ include ('page/bug.html.twig', {'bug': bug}) }}
                {% endfor %}
            {% else %}
                <p>No hay bugs en Pruebas</p>
            {% endif %} 
            </div>

            <div class="bug-container">
               {% if bugsAcabados %}
                {% for bug in bugsAcabados %}
                    {{ include ('page/bug.html.twig', {'bug': bug}) }}
                {% endfor %}
            {% else %}
                <p>No hay bugs Acabados</p>
            {% endif %} 
            </div>
        </div>
    </div>
</body>
</html>