<div class="bug">
    <h3>{{ description }}</h4>
        <div class="bug-footer">
            <p class="priority">{{ priority.level }}</p>
            <div>
                <i class="fas fa-database fa-2x"></i>
                <i class="fas fa-user-slash fa-2x"></i>
            </div>
        </div>
</div>